* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: bisque;
}

.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    background-color: rgb(143, 143, 143);
    width: 1000px;
    height: 800px;
    border-radius: 10px;

}


.navbar {
    display: flex;
    justify-content: space-between;
}



.button {
    background-color: black;
}